
.main{
  margin: 1em;
  padding:5%;
}
header{
  display: flex;
  flex-direction:row;
  justify-content: start;
  padding-bottom: 2em;
  box-shadow: 0px 2px 0px rgba(128,128,128,0.5);
}
header img{
  object-fit:contain;
}
.main header h1{
  margin-left:1em;
  font-size:4em;
  font-weight: normal;
}

.nav-bar nav{

  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  width:100%;
  top:0;
  padding-bottom:4em;
  padding-top:3em;
}
nav a{
  text-decoration: none;
  color:gray;
  font-size:1.5em;
}
.image-containter{
  display: flex;
  border:1px solid gray;
  position: relative;
  flex-direction:column;
  justify-content: end;
/*   flex-direction: column; */
}
.floating-image{
  position:relative;
  width:100%;
  height:31em;
  object-fit: cover;
}
.image-text{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom:0;
  background: white;
  color: gray;
  font-size:1.3em;
}
.image-text h2{
  padding-left:0.7em;

}
.image-text p{
  padding-left:1em;
  padding-right:1em;
}
.news-section{
  padding:1em;
}
.news-head{
  display: flex;
  justify-content: space-between;
  font-size:1.4em;
  box-shadow: 0px 2px 0px rgba(128,128,128,0.5);

}
.news-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news-body p{
  padding-bottom:1.2em;
  padding-top:0.6em;
  box-shadow: 0px 2px 0px rgba(128,128,128,0.5);
}
.news-list:before{
  content:'\00BB';
}
.score-head{
  display: flex;
  justify-content: space-around;
  color:gray;
}
.score-body{
  display: flex;
  flex-direction: column;
}
.score-item{
  display: flex;
  justify-content: space-around;
  font-size:20px;
}
.score-body p span {
  font-weight: bold;

}
.weather{
  margin-top:10em;
}
.city p{
  font-size:1.5em;
}
.cur-temp{
  display: flex;
  flex-direction: start;
}
.weather-days{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.2em;
}

.weather-days div{
  display: flex;
  flex-direction: column;
  
}

.weather-days div p{
  align-self:center;
}
.bottom-news-section{
  display: flex;
  flex-direction: column;
}

.bottom-news-head{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 0px rgba(148,148,148,0.7);
}

.bottom-news-head p{
  font-size:1.2em;
}
.bottom-news-body{
  margin-bottom:3em;
  display: flex;
  flex-direction: column;
}


.bottom-news-element{
/*   display: float; */
  margin-top:3em;
  text-align: left;
/*   flex-direction: row; */
}
.bottom-news-element img{
  float:left;
  width: 12em;
  margin-right: 1.3em;
  margin-bottom: 1em;
/*   object-fit: contain' */
}

.bottom-news-element div p{
  margin-top:0;
  font-size:1.1em;
}
.bottom-news-element div h3{
/*   float:right; */
  margin-top:0;
}
footer{
  display: flex;
flex-direction:row;
justify-content: space-around;
border-top:1px solid black;
border-bottom:1px solid black;
}
