
.main{
  margin: 2px;
  border:1px solid black;
  /* display:flex; */
  padding:5%;
}
header{
  display: flex;

  /*! border-bottom:1px solid black; */
  /* border-width: 100%; */
  padding-bottom: 2em;
  box-shadow: 0 3px rgba(43,43,43,0.3);
}
.main header h1{
  align-self:center;
  margin-left:0.7em;
  font-size:42px;
  font-weight: normal;
}

nav{
  margin:1em;
  padding-bottom:10px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
nav a{
  font-weight:550;
  text-decoration: none;
  color:gray;
  font-size:20px;
}
.nav-bar{
  padding-bottom:30px;
  padding-top: 28px;

}
.image-containter{
  position: relative;
}
.cover-top{
  width:100%;
  position: absolute;
  background-color: white;
  height: 3px;
  top: 0px;
}
.dog-image{

  width:100%;
}
.image-containter{
  /* display: flex; */
  border:1px solid gray;
  position: relative;


}
.image-text{
  margin-left:1.5em;
  color:gray;

}
.news-head{
  display: flex;
  justify-content: space-between;
}
.news-list:before{
  content:'\00BB';
}
.score-card{
  /* display: flex; */

}
.score-head{
  display: flex;
  justify-content: space-around;
}
.score-body{
  display: flex;
  justify-content: space-around;
  font-size:30px;
}
.score-body p span {
  font-weight: bold;

}
.second{
  margin: 2px;
  border:1px solid black;
  /* display:flex; */
  padding:5%;
}
.cur-temp{
  display: flex;
  flex-direction: row;
}
.weather-days{
  display: flex;
/*   flex-direction: row; */
  justify-content: space-around;
}


.weather-images{
  display: flex;
  justify-content: space-around;
  /*! width:72em; */
  /*! height:28em; */
}

.weather-images img {
  width:41em;
  height: 14em;
}

.weather-temp{
  display: flex;
/*   flex-direction: row; */
  justify-content: space-around;
}

.latest-news{
  display: flex;
  border-bottom:1px solid black;
  justify-content: space-between;
}
.news-links{
  margin-top:3em;
  margin-bottom:3em;
}

.news-element{
  display: flex;
  margin-top:3em;
}
.desc-news{

}
footer{
  display: flex;
flex-direction:row;
justify-content: space-around;
border-top:1px solid black;
border-bottom:1px solid black;
}
